<footer class="footer layout">
    <a href="{{ site.baseurl }}/about/link.html" title="Link">Link</a>
    <a href="{{ site.baseurl }}/about/log.html" title="Log">Log</a>
    <a href="{{ site.baseurl }}/about/privacy.html" title="Privacy">Privacy</a>
    <a href="{{ site.baseurl }}/rss.xml" title="RSS" target="_blank" rel="feed">RSS</a>
    <span>&copy; {{ site.author }}</span>
    <a href="{{ site.urlyeh }}" title="Yeh" target="_blank" rel="author" class="yeh"><img alt="Yeh" src="/favicon.ico" /></a>
</footer>
