{% if paginator.page == 1 %}
<div class="link layout">
<h6>Links</h6>
    {% include linkcontent.html %}
    <nav class="side-menu" aria-label="Footer navigation">
        <a href="{{ site.baseurl }}/about/">About</a>
        <a href="{{ site.baseurl }}/about/log.html">Log</a>
        <a href="{{ site.baseurl }}/about/privacy.html">Privacy</a>
    </nav>
</div>
{% else %}
<div class="links layout">
<h6>Sponsors</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9632487167722126"
     data-ad-slot="9943771089"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <nav class="side-menu" aria-label="Footer navigation">
        <a href="{{ site.baseurl }}/about/">About</a>
        <a href="{{ site.baseurl }}/about/log.html">Log</a>
        <a href="{{ site.baseurl }}/about/privacy.html">Privacy</a>
    </nav>
</div>
{% endif %}
