/* rem */
body{ font-size: 16px; }

/* reset */
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0; vertical-align:baseline;}
body{font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif,Arial,\5b8b\4f53;}
code,kbd,pre,samp{font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
figure{margin:0;}
hr,button,input,textarea{margin:0;padding:0;}
small{font-size:0.75rem;}
a{text-decoration:none; outline:none;}
a:hover, a:focus{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}

/* generic */
input[type=submit], button, label[for]{cursor:pointer;}
input[readonly],textarea[readonly]{ background-color:#ededed;}
abbr[title], acronym[title]{border-bottom:thin solid;cursor:help;}
strong, b{font-weight:bold;}
blockquote {border-left:5px solid #e5e5e5; margin:10px 0; padding:0 0 0 20px; }
pre { padding:10px 20px; border-radius: 5px; background: #f6f6f6; border:1px solid #e5e5e5; overflow-x: auto;}
table {width:100%;}
th, td {text-align:left; padding:5px 10px; border:1px solid #e5e5e5;}
th{ font-weight: bold; background-color: #eee;}
table tr:nth-child(2n) {background-color: #f8f8f8;}
dt {color:#444;font-weight:bold;}
th {color:#444;}
img {max-width:100%;}

/* base */
body {color:#333;}
a{color:#000; }
a:hover{color:#666;}
h1 { font-size:2.25rem;}
h2 { font-size:2rem;}
h3 { font-size:1.75rem;}
h4 { font-size:1.5rem;}
h5 { font-size:1.25rem;}
h6 { font-size:1rem;}
.hidden{ display:none;}

/*common*/
.layout{ width:990px; margin:10px auto 0 auto;}
.nav a, .search input{ -moz-transition:all 0.4s ease-out; -webkit-transition:all 0.4s ease-out; -o-transition:all 0.4s ease-out; transition: all 0.4s ease-out;}
embed{ display: none;}

/*header*/
.header{}
.header a:hover, .nav a:hover{ text-decoration:none;}
.header h1, .sitetitle{ display:inline-block; *display: inline; vertical-align:middle; line-height:80px; }
.sitetitle{ font-size:3rem; font-weight:bold; }
.tagline{ margin-left:20px; padding-left:20px; border-left:solid 1px #ddd; line-height:20px; color:#aaa; }

/*nav*/
.nav{ border-bottom:solid 1px #e2e2e2; }
.nav a{ padding:4px 10px; display:inline-block; font-size:1rem;}
.nav a.selected, .nav a:hover{ background-color:#e2e2e2; position:relative; color:#333;}
.nav a.selected{ font-weight:bold;}
.nav a.selected:after{ content:" "; display:block; border: transparent 10px solid; border-bottom-color: #fff; width:0; height:0; position:absolute; top:18px; left:24px;}

/*search*/
.search{ position:relative; margin-top:0;}
.search form{ position:relative; float:right; text-align:right; margin-top:-32px;}
.search input{ height:28px; line-height:28px; border:solid 1px #ddd;  padding-right: 8px;  border-radius:14px; background-color:#f5f5f5; width:220px; padding-left:10px; *padding-left:8px; }
.search input:focus{ background-color:#fdfdfd; outline:none; width: 250px; padding-left:30px;}
.search form::after{text-align:left; position: absolute; content: '🔍'; font-size: 14px; display: block; width:14px; height: 14px; top:2px; left: 6px;}

/*entry*/
.entry, .pagination{margin-top:30px;}
.entry-header{ padding-left:70px;}
.entry-title{ line-height:40px; padding-left:10px; font-size: 2rem; border-bottom:solid 1px #e2e2e2;}
.entry-meta{ position:relative; min-height: 42px; _height:42px; _overflow: visible;}
.entry-time{ position:absolute; display:block; width:64px; height:64px; text-align:center; left:-70px; top:-33px; border:solid 1px #e2e2e2; background-color:#e2e2e2; color:#444;}
.entry-month, .entry-day{ line-height:32px;}
.entry-month{ margin-right:4px; font-size:1rem;}
.entry-year{ font-size: 0.8rem;}
.entry-day{ display:block; background-color:#fff; font-size:1.75rem; }
.entry-comments, .entry-categories, .entry-tags{ color:#999; font-style:italic;}
.entry-comments{ float: right; text-align: right; *width: 100px;}
.entry-categories, .entry-tags{margin-left:10px; }
.entry-categories a, .entry-comments span, .entry-tags a{ font-style:normal; margin:0 4px;}
.entry-categories a:nth-child(n+2):before, .entry-tags a:nth-child(n+2):before{ padding-right: 12px;}
.entry-content{ margin-top:20px; word-wrap:break-word; word-break:break-all;}
.entry-content iframe{ width: 100%; }
.entry-content a{ text-decoration: underline; color: #666;}
.entry-content p, .entry-content li{ margin-top:8px;}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{ margin-top: 20px; }
.entry-content .highlight {margin: 10px 0;}
.entry-content ul, .entry-content ol{ margin-top: 16px;}
.entry-content ul{ list-style-type: disc;}
.entry-content ol{ list-style-type: decimal;}
.entry-readmore{ padding:20px 0;}
.entry-readmore a{ font-size:1rem; font-weight:bold;}
/*highlight*/
.highlight { background: #333; color: #fff;}
.highlight .c { color: #999988; font-style: italic }
.highlight .err { color: #a61717; background-color: #e3d2d2 }
.highlight .k { font-weight: bold }
.highlight .o { font-weight: bold }
.highlight .cm { color: #999988; font-style: italic }
.highlight .cp { color: #999999; font-weight: bold }
.highlight .c1 { color: #999988; font-style: italic }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic }
.highlight .gd { color: #000000; background-color: #ffdddd }
.highlight .gd .x { color: #000000; background-color: #ffaaaa }
.highlight .ge { font-style: italic }
.highlight .gr { color: #aa0000 }
.highlight .gh { color: #999999 }
.highlight .gi { color: #000000; background-color: #ddffdd }
.highlight .gi .x { color: #000000; background-color: #aaffaa }
.highlight .go { color: #888888 }
.highlight .gp { color: #555555 }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #aaaaaa }
.highlight .gt { color: #aa0000 }
.highlight .kc { font-weight: bold }
.highlight .kd { font-weight: bold }
.highlight .kp { font-weight: bold }
.highlight .kr { font-weight: bold }
.highlight .kt { color: #445588; font-weight: bold }
.highlight .m { color: #009999 }
.highlight .s { color: #d14 }
.highlight .na { color: #008080 }
.highlight .nb { color: #0086B3 }
.highlight .nc { color: #445588; font-weight: bold }
.highlight .no { color: #008080 }
.highlight .ni { color: #800080 }
.highlight .ne { color: #990000; font-weight: bold }
.highlight .nf { color: #990000; font-weight: bold }
.highlight .nn { color: #555555 }
.highlight .nt { color: #000080 }
.highlight .nv { color: #008080 }
.highlight .ow { font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mf { color: #009999 }
.highlight .mh { color: #009999 }
.highlight .mi { color: #009999 }
.highlight .mo { color: #009999 }
.highlight .sb { color: #d14 }
.highlight .sc { color: #d14 }
.highlight .sd { color: #d14 }
.highlight .s2 { color: #d14 }
.highlight .se { color: #d14 }
.highlight .sh { color: #d14 }
.highlight .si { color: #d14 }
.highlight .sx { color: #d14 }
.highlight .sr { color: #009926 }
.highlight .s1 { color: #d14 }
.highlight .ss { color: #990073 }
.highlight .bp { color: #999999 }
.highlight .vc { color: #008080 }
.highlight .vg { color: #008080 }
.highlight .vi { color: #008080 }
.highlight .il { color: #009999 }
.type-csharp .highlight .k { color: #0000FF }
.type-csharp .highlight .kt { color: #0000FF }
.type-csharp .highlight .nf { color: #000000; font-weight: normal }
.type-csharp .highlight .nc { color: #2B91AF }
.type-csharp .highlight .nn { color: #000000 }
.type-csharp .highlight .s { color: #A31515 }
.type-csharp .highlight .sc { color: #A31515 }

/*pagination*/
.pagination{ line-height:40px; font-size:2rem; text-align:right; min-height:40px; *height:40px; *overflow:visible;}
.pagination a, .pagination span{margin:5px 10px; }
.pagination span{ color: #666;}
.pagination-prev, .pagination-next{background-color:#e2e2e2; font-weight:bold; display: inline-block; padding: 0 10px;}
.pagination a.pagination-prev{ margin-left:0; text-align: left;}
.pagination a.pagination-next{ margin-right:0; text-align: right;}
/*comments*/
#comments{ margin-top:30px; padding-top: 10px; border-top:dashed 1px #e2e2e2;}

/*link*/
.link a{ display: inline-block; font-size: 0.9rem; margin: 2px 10px 2px 0;}

/*footer*/
.footer{ border-top:solid 1px #e2e2e2; padding:8px 0; color:#666; font-size: 1rem; text-align:right;}
.footer a{ color:#666; display:inline-block; margin-right:8px;}
.footer a:hover{ border-bottom-color:#666; color:#404040; text-decoration:none; }
.footer a.yeh{text-align:left; height:18px; margin: 0 0 0 -4px; color:#9c3; }

/*media query*/
/* <640 */
@media screen and (max-width:640px) {
  .entry-header{ padding-left:0;}
  .entry-time, .entry-day, .entry-month{ width:auto; height:auto; line-height:20px; }
  .entry-time{ left:0; top:0; height:20px; display:inline-block; border-width:0; margin-left:10px; position:relative; background-color:#fff;}
  .entry-time:before{ margin-right:4px; color:#999; font-style:italic;}
  .entry-day, .entry-month{ font-size:0.8rem; display:inline;}
  .entry-day:before{ content:"/";}
  .entry-month{ margin-right: 0;}
  .entry-year{ float:right; margin-top: 2px;}
  .entry-year:before{ content:","; margin:0 4px;}
  .entry-author, .entry-cate{display:inline-block;}
  .entry-author{ margin-left:12px; }
  .entry-content iframe{ height: 80vw; }
  .entry-comment{ display:block;}
}
/* <1000px */
@media screen and (max-width:999px) {
  .layout{ width:94%;}
  .search{ height:auto;}
  .search form{ margin-top:4px; }
  .search input{ padding-left:30px; }
  .content{ margin-top: 60px;}
  .entry-content iframe{ height: 70vw; }
}
/* >1000px */
@media screen and (min-width:1000px) {
  .header, .nav, .search, .link, .links{ width: 250px;  right:40px;}
  .header, .nav, .search{ position: fixed;}
  .content, .footer{ width:auto; margin-right: 330px; margin-left: 40px;}
  .header{ top:0;}
  .nav{ border-bottom: 0; top:96px; margin-top: 0;}
  .nav a{ display: block; margin-top: 10px;}
  .nav a.selected:after{ border-width:14px; border-bottom-color: transparent; border-right-color: #fff; left: auto; right: 0; top: 0;}
  .search{height: auto; top:200px;}
  .search form{ margin-top: 0; float: none;}
  .content{ margin-top: 66px;}
  .entry-content iframe{ height: 60vw; }
  body{ position: relative;}
  .link{ bottom: 0; }
  .links{ top: 240px; }
  .link, .links{ position: fixed;}
  .link h6{border-bottom: solid 1px #e2e2e2;}
}

/*retina font-size*/
@media screen and (min-resolution: 192dpi) {
  body{
    font-size:20px;
  }
}

/*dark mode*/
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f;
    color: #d7dadc;
  }
  legend,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .entry-title a,
  .sitetitle {
    color: #e3e6e8;
  }
  a{color:#b8bec3; }
  a:hover{color:#a8c7fa;}
  blockquote,
  th,
  td,
  .nav,
  .entry-title,
  .entry-time,
  .footer,
  #comments,
  .link h6,
  .tagline {
    border-color: #4f5357;
  }
  th{
    background-color: #2a2c2e;
    color:#e3e6e8;
  }
  td {
    background-color: #1f1f1f;
  }
  table tr:nth-child(2n) {
    background-color:#242628;
  }
  .nav a.selected,
  .nav a:hover,
  .entry-time,
  .pagination-prev,
  .pagination-next {
    background-color:#34373a;
  }
  .nav a.selected,
  .nav a:hover,
  .pagination a,
  .pagination-prev,
  .pagination-next {
    color:#dfe3e6;
  }
  .nav a.selected:after {
    border-bottom-color: #1f1f1f;
  }
  .entry-day,
  .search input:focus {
    background-color:#1f1f1f;
  }
  .entry-time,
  .entry-day,
  dt,
  th,
  .footer,
  .pagination span,
  .entry-comments,
  .entry-categories,
  .entry-tags,
  .tagline {
    color:#aeb4b9;
  }
  .search input {
    background-color:#2d3033;
    border-color:#4f5357;
    color:#dfe3e6;
  }
  .search input::placeholder {
    color:#8f969c;
  }
  pre {
    background: #181a1b;
    border-color: #34373a;
    color: #dfe3e6;
  }
  .highlight {
    background: #181a1b;
    color: #dfe3e6;
  }
  .entry-content a,
  .footer a,
  .link a {
    color:#a8c7fa;
  }
  .footer a:hover,
  .entry-content a:hover,
  .link a:hover {
    color:#c4d7fb;
  }
}
