---
layout: default
---
<article class="entry" role="article">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta">
      <time class="entry-time" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%b %-d, %Y' }}</time>
{% if page.categories %}
      <p class="entry-categories">Categories:
{% for category in page.categories %}
        <a rel="tag">{{ category }}</a>
{% endfor %}
      </p>
{% endif %}
{% if page.tags %}
      <p class="entry-tags">Tags:
{% for tag in page.tags %}
        <a rel="tag">#{{ tag }}</a>
{% endfor %}
      </p>
{% endif %}
{% if page.comment != false %}
      <a class="entry-comments" href="#comments" rel="nofollow" title="comments">Comments</a>
{% endif %}
    </div>
  </header>
  <div class="entry-content">
{{ content }}
  </div>
</article>
{% if page.theme != 'about' %}
{% include pagination-post.html %}
{% endif %}
{% include comments.html %}
